body {
  background-image: url("../images/redboll1.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
#form_container {
  width: 300px;
  height: 330px;
  border: 1px solid white;
  border-radius: 20px;
  display: block;
  margin: 30px auto;
}
.inputbox {
  width: 230px;
  padding: 20px;
  margin: 20px;
  border: none;
  border-radius: 20px;
}
.btn {
    width: 80px;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 10px;
}
