body {
  background-image: url("../images/redboll1.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
#form_container {
  width: 300px;
  height: 330px;
  border: 1px solid white;
  border-radius: 20px;
  display: block;
  margin: 100px auto;
}
.inputbox {
  width: 230px;
  padding: 20px;
  margin: 20px;
  border: none;
  border-radius: 20px;
}
.btn_container {
  display: flex;
  justify-content: space-around;
}
.btn {
  width: 80px;
  padding: 14px;
  margin: 10px;
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 30px;
}
.btn1 {
  background-color: #ffffff;
}
.btn1:hover {
  border: 1px solid black;
  box-shadow: 1px 2px 7px 1px black;
  transform: scale(1.1);
}

.btn2:hover {
  border: 1px solid black;

  box-shadow: 0px 2px 7px 1px black;
  transform: scale(1.1);
}
.inputcontainer {
  margin-top: 30px;
}
.inputbox {
  display: block;
  margin: 30px auto;
}
